{% extends "_base.html" %}
{% load mineral_extras %}
{% load static from staticfiles %}

{% block content %}

<p>Most important detail: (The output is based on the largest number of letters found in a model field) 
  {% important_detail mineral %}
</p>

  <div class="grid-100 mineral__container">
        <h1 class="mineral__name">{{mineral.name|title_case}}</h1>
        <div class="mineral__image-bg">
          <img class="mineral__image" src="{% static mineral_image_path %}">
          <p class="mineral__caption">{{mineral.image_caption|title_case}}</p>
        </div>
        <div class="mineral__table-container">
          <table class="mineral__table">
            <tr>
              <td class="mineral__category">Category</td>
              <td>{{mineral.category|check_if_empty|title_case}}</td>
            </tr>
            <tr>
              <td class="mineral__category">Formula</td>
              <td class="mineral__formula">{{mineral.formula|check_if_empty|title_case|safe}}</td>
            </tr>
            <tr>
              <td class="mineral__category">Strunz Classification</td>
              <td>{{mineral.strunz_classification|check_if_empty|title_case}}</td>
            </tr>
            <tr>
              <td class="mineral__category">Unit Cell</td>
              <td>{{mineral.unit_cell|check_if_empty|title_case}}</td>
            </tr>
            <tr>
              <td class="mineral__category">Color</td>
              <td>{{mineral.color|check_if_empty|title_case}}</td>
            </tr>
            <tr>
              <td class="mineral__category">Crystal Habit</td>
              <td>{{mineral.crystal_habit|check_if_empty|title_case}}</td>
            </tr>
            <tr>
              <td class="mineral__category">Mohs Scale Hardness</td>
              <td>{{mineral.mohs_scale_hardness|check_if_empty|title_case}}</td>
            </tr>
          </table>
        </div>
  </div>

{% endblock %}